{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "<Storage Connection String>",
    "AzureWebJobsDashboard": "",
    "EventHubConnection": "<Event Hub Connection String>",
    "AzureWebJobsCosmosDBConnectionString": "<Cosmos Db Connection String>"
  }
}
